.container{
    width: 1166px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: dashed red; */
}
body{
    font-family: 'Montserrat';
    background-color: #FAFAFA;
}
button{
    font-family: 'Montserrat';
    cursor: pointer;
    padding: 14px 40px;
}
header{
    padding-top: 26px;
    padding-bottom: 34px;
}
header .container{
    display: flex;
    align-items: center;
}
header .container .header-menu{
    display: flex;
    gap: 24px;
    margin-left: 188px;
    margin-right: auto;
}
header .container .header-contacts{
    display: flex;
    gap: 18px;
}
.header-logo{
    color: #111;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    margin-right: 4px;
}
.header-logo-img{
    width: 24px;
    height: 24px;
}
.header-menu-item a{
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
}
.header-contacts-item img{
    width: 24px;
    height: 24px;
}
.hero{
    margin-bottom:72px;
}
.hero .container{
    display: flex;
    flex-direction: column;
    padding-top: 381px;
    padding-bottom: 40px;
    background: url(./images/hero-background.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.hero .container div{
    display: flex;
    padding-left: 40px;
    gap: 14px;
}
.hero-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.84px;
    margin-bottom: 32px;

    max-width: 484px;
    padding-left: 40px;
    /*аааа, чому він не такий як на макеті? не можу його так само розмістити((*/
}
.hero-button{
    border-radius: 100px;
    border: 1px solid #FFF;
    background: transparent;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}
.hero-button:hover{
    background: #FD9222;
    border-color: #FD9222;
}
.about{
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about .container ul{
    display: flex;
    justify-content: space-between;
    gap: 88px;
}
.circle{
    width: 62px;
    height: 62px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-icon{
    width: 32px;
    height: 32px;
}
.about-title{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-top: 22px;
    margin-bottom: 18px;
}
.about-text{
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
}
.title-orange{
    color: #FD9222;
}
.ingredients .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 128px;
}
.ingredients-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    max-width: 411px;

    margin-bottom: 28px;
}
.ingredients-text{
    color: #111;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;

    max-width: 486px;

    margin-bottom: 50px;
}
.ingredients-list{
    display: flex;
    gap: 19px;
    justify-content: space-between;
}
.ingredients-item:nth-child(2n){
    background: #FFF;
}
.ingredients-item:nth-child(3){
    background: #1E1823;
    border-color: #1E1823;
}
.ingredients-item{
    border: 1px solid #FD9222;
    border-radius: 15px;
    background-color: #FD9222;

    padding: 28px;
}
.ingredients-name{
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    
    margin-top: 36px;
}
.ingredients-item:nth-child(2n+1) h3{
    color: #FFF;
}
.how .container{
    padding-top: 128px;
    padding-bottom: 128px;
}
.how-second-container{
    display: flex;
}
.how-list-container{
    background-color: #FFF;
    border-radius: 15px;
    padding: 32px;
}
.how-list-container ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 18px;
}
.how-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.how-img{
    max-width: 600px;
    max-height: 400px;
    margin-right: 20px;
}
.how-list-title{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    margin-bottom: 28px;
    max-width: 350px;
}
.how-list{
    list-style: disc;
}
.how-list-item{
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
.products-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}
.products-list-item{
    background-color: #FFF;
    border-radius: 15px;
    padding: 32px 20px;
    max-width: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-list-img{
    max-width: 230px;
}
.products-list-name{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;

    margin-top: 8px;
    margin-bottom: 2px;
}
.products-list-type{
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
}
.products-list-button{
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;

    color: #111;
    font-size: 14px;
    font-weight: 600;
    margin-top: 18px;
    padding: 8px 20px;
}
.products-list-button:hover{
    background-color: #FD9222;
    border-color: #FD9222;
    color: #FFF;
    /*це від себе*/
}
.topSellers .container{
    padding-top: 128px;
    padding-bottom: 128px;
}
.topSellers-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.topSellers-list{
    display: flex;
    justify-content: space-between;
}
.topSellers-second-container{
    margin-top: 32px;
    display: flex;
}
.topSellers-img{
    max-width: 368px;
}
.topSellers-text{
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;

    max-width: 407px;
}
.topSellers-button{
    border-radius: 100px;
    border: 1px solid #FD9222;
    background: #FD9222;
    padding: 0;
    width: 162px;
    height: 50px;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-left: 567px;
}
.topSellers-button:hover{
    border-color: #e4851f;
    background: #e4851f;
    /*тут просто задала щоб гарненько було, бо в макеті про це не сказано*/
}
.reviews .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 128px;
}
.reviews-list{
    display: flex;
    justify-content: center;
    gap: 28px;
}
.reviews-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.reviews-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 24px 42px;
    background-color: #FFF;
    border-radius: 15px;
}
.reviews-img{
    max-width: 80px;
}
.reviews-names{
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    margin-top: 18px;
    margin-bottom: 24px;
}
.reviews-text{
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    max-width: 312px;
}
.reviews-button{
    border-radius: 100px;
    border: 1px solid #FD9222;
    background: transparent;
    color: #111;
    font-size: 18px;
    font-weight: 600;

    margin-top: 50px;
}
.reviews-button:hover{
    background: #FD9222;
    color: #FFF;
    /*і це теж від себе*/
}
.subscribe{
    background: url(./images/subscribe-background.png) no-repeat;
    background-size: cover;
    padding: 72px 0;
} 
.subscribe .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-title{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    max-width: 378px;
}
.subscribe-text{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;

    max-width: 467px;

    margin-top: 24px;
    margin-bottom: 24px;
}
.subscribe-button{
    border-radius: 100px;
    border: 1px solid #FD9222;
    background: #FD9222;

    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.subscribe-button:hover{
    border-color: #e4851f;
    background: #e4851f;
    /*тут просто задала щоб гарненько було, бо в макеті про це не сказано*/
}
.ourContacts{
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 62px;
}
.ourContacts .container{
    display: flex;
}
.ourContacts-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    max-width: 300px;
    margin-right: 543px;
}
.ourContacts-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ourContacts-list-title{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    margin-bottom: 14px;
}
.ourContacts-list-item a{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
.ourContacts-contacts{
    display: flex;
    gap: 18px;
    margin-left: auto;
}
footer{
    background: #1E1823;
    border-top: solid rgba(255, 255, 255, 0.10);
    padding: 24px 0 50px;
}
.footer-menu{
    display: flex;
    gap: 24px;
}
.footer-menu-item a{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
}